<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <% Category.all.each do |category| %>
      <% if category.name == "Hidden" then %>
      <% else %>
      <li class="nav-item <%= 'active' if params[:category] == category.name %>">
        <%= link_to category.name, posts_path(category: category.name), class: "nav-link" %>
      </li>
      <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <% if session[:admin] then %>
      <li class="nav-item %>">
        <%= link_to "posts?category=Hidden", class: "nav-link" do %>Hidden<% end %>
      </li>
      <li class="nav-item %>">
        <%= link_to new_post_path, class: "nav-link" do %>New Post<% end %>
      </li>
      <% end %>
      <li class="nav-item <%= 'active' if current_page?(about_path) %>">
        <%= link_to about_path, class: "nav-link" do %>About
        <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(about_path) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>