<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<%= render 'shared/nav' %>

<div class="container h-100">

  <div class="row h-100 justify-content-center align-items-center">

    <!-- Preview Image -->
    <%= image_tag @post.image_url.to_s, alt: "Image", class: "img-fluid" %>

    <!-- Post Content Column -->
    <div class="col-lg-10">

      <!-- Title -->
      <h1 class="mt-4 headline"><%= @post.title %></h1>

      <!-- Author/Date/Time -->
      <p class="authdate">by <%= @post.author %><br>
        Posted on <%= @post.created_at.strftime("%B %d, %Y") %></p>

      <hr>

      <!-- Post Content -->
      <div class="content"><%= @post.content.gsub("<p><br></p>","").html_safe %></div>


      <!-- Admin Buttons -->
      <% if session[:admin] then %>
      <%= link_to "Edit", edit_post_path(@post) %>
      <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }%>
      <% end %>
    </div>
  </div>